* {
    margin: 0;
    padding: 0;
  }
  
  .main {
    width: 100%;
    height: 100vh;
  }
  
  video {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: white;
  }
  
  /* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
  } */