.gigCard {
    width: 324px;
    height: 400px;
    border: 1px solid rgb(237, 236, 236);
    margin-bottom: 40px;
    border-radius: 10;
}
  
.thumbnail {
      width: 100%;
      height: 50%;
      object-fit: cover;
    }
  
.info {
      padding: 10px 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
}
.user {
        display: flex;
        align-items: center;
        gap: 10px;
} 
.userphoto {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          object-fit: cover;
        };
  
p {
        color: #111;
      };
  
      .star {
        display: flex;
        align-items: center;
        gap: 5px;
      }
.starpic {
          height: 14px;
          width: 14px;
        }
  
.spann {
          font-size: 14px;
          font-weight: bold;
          color: #ffc108;
        }
  
hr {
      height: 0;
      border: 0.5px solid rgb(228, 228, 228);
    }
  
.detail {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.heartpic {
        width: 16px;
        height: 16px;
        cursor: pointer;
        object-fit: cover;
      }
  

.span2 {
          color: #999;
          font-size: 12px;
        };
  
.price {
          color: #555;
          font-size: 18px;
          font-weight: 400;
          text-align: end;
        };